# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env

# Logs
*.log

# Pytest
.pytest_cache/

# Outputs (your pipeline results)
output/

# OS
.DS_Store
Thumbs.db

output/
source/

__pycache__/
*.pyc
.pytest_cache/
output/
source/

output/
source/
data/
